<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Weather Application</title>

  <link href="weather-app.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Weather App Pichincha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-right">
    <a id="country-en" href=""><span id="en" class="flag-icon flag-icon-en"></span></a>
    <a id="country-us" href=""><span id="us" class="flag-icon flag-icon-us"></span></a>
    <a id="country-fr" href=""><span id="fr" class="flag-icon flag-icon-fr"></span></a>
  </div>

</nav>

<main role="main" class="container">

  <div id="city-list">
    <!-- weather list goes here -->
  </div>

  </div>

</main><!-- /.container -->



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


<script id="countryWeatherTemplate" type="text/x-jQuery-tmpl">
    <h1>${name}</h1>
    <ul class="list-group">
      {{each cities}}

      <li class="list-group-item">
        <div>
          <h3>${name}</h3>
          <img src="weather-icons/${weatherType}.svg"/>
          <span style="font-size: 38px">${temp}°</span> Max: ${maxTemp}°, Min ${minTemp}°<br/>
          Feels like: ${tempFeelsLike}°, Humidity: ${humidity}%, Wind: ${wind} m/s
        </div>
      </li>
      {{/each}}
    </ul>

</script>

<script>
    $.ajax({
        url: '/api/weather',
        type: 'GET',
        success: function(data) {
            //$('#chat-window-main').html(data);
            $("#countryWeatherTemplate").tmpl(data).appendTo("#city-list");
            console.log(data);
        },
        error: function(error) {
            //$('#chat-window-main').html("<p>No welcome message implemented yet!!!</p>");
            console.log(error);
        }
    });

    $("[id^=country-]").click(function(event) {
        event.preventDefault();
        var lang = event.target.id;
        $.ajax({
            url: '/api/country/'+lang,
            type: 'PUT',
            success: function(data) {
                $.ajax({
                    url: '/api/weather',
                    type: 'GET',
                    success: function(data) {
                        $("#city-list").empty();
                        $("#countryWeatherTemplate").tmpl(data).appendTo("#city-list");
                        console.log(data);
                    },
                    error: function(error) {
                        //$('#chat-window-main').html("<p>No welcome message implemented yet!!!</p>");
                        console.log(error);
                    }
                });
            },
            error: function(error) {
                console.log(error);
                alert("Failed to set country by calling the country service");
            }
        });
    });
</script>
</body>
</html>
